$\newcommand{L}[1]{\| #1 \|}\newcommand{VL}[1]{\L{ \vec{#1} }}\newcommand{R}[1]{\operatorname{Re}\,(#1)}\newcommand{I}[1]{\operatorname{Im}\, (#1)}$

## Schooling and fertility

Here we are analyzing this dataset from the World Bank on gender and
inequality:

* [https://data.worldbank.org/data-catalog/gender-statistics](https://data.worldbank.org/data-catalog/gender-statistics)

You can download the data yourself as a zip file [from that site](http://databank.worldbank.org/data/download/Gender_Stats_csv.zip), but to
make your life a little easier, I’ve made a link to the extracted data file:

* [Gender_StatsData.csv](https://matthew-brett.github.io/les-pilot/_downloads/Gender_StatsData.csv)

Download this file to the same directory as your Jupyter Notebook.

In [ ]:
# Import Pandas with its usual short name
import pandas as pd

Load the Comma Separated Value text file into Pandas as a data frame:

In [ ]:
df = pd.read_csv('Gender_StatsData.csv')

This is a slightly clumsy-looking data frame, because it has years for
columns, and variables for rows, where there are 630 variables for each
country.  So there are 630 rows \* the number of countries.  To investigate, we
first look at the column names:

In [ ]:
df.columns

Next we look at the data frame itself:

In [ ]:
df

There are lots of countries here, so to start, let’s look at the variables for
the UK.

We get the UK country code from [http://www.worldatlas.com/aatlas/ctycodes.htm](http://www.worldatlas.com/aatlas/ctycodes.htm).
The code is `GBR`.

In [ ]:
# We select only the UK rows
gb = df[df['Country Code'] == 'GBR']
gb

Pandas truncates the output to only show a certain number of rows, and only a
certain length for the text fields.  To investigate further, you can increase
these limits to see all 630 rows for the UK, and more of the text for the text
fields:

In [ ]:
# See more of the text, more rows in the displayed output
pd.options.display.max_colwidth = 80
pd.options.display.max_rows = 700

If you are working in the Notebook, you will now see all of the rows and the
whole text field with the variable description.

In [ ]:
# This will be different from above when working in the Notebook
gb

After scanning through this output, we decide we want to look at these two
variables:

* `SP.ADO.TFRT` : Adolescent fertility rate (births per 1,000 women ages
  15-19)

* `SE.SCH.LIFE.FE` : Expected years of schooling, female

Remember that, for each variable there is one row per country.  We have to
select the rows corresponding to this variable, for all countries.  We do that
for both variables we are interested in.

In [ ]:
# Put the variables we want into their own data frames
fertility_rate = df[df['Indicator Code'] == 'SP.ADO.TFRT']
age_female_sch = df[df['Indicator Code'] == 'SE.SCH.LIFE.FE']

For convenience, we are going to put the values from these columns back into
their own data frame.  To do that, we make a new data frame, and fill it with
the values from our variables:

In [ ]:
# Make a new data frame to store our school and fertility columns
school_fertility = pd.DataFrame(columns=['school', 'fertility'])
school_fertility

We fill the empty data frame with the values we selected:

In [ ]:
school_fertility['school'] = age_female_sch['2014'].values
school_fertility['fertility'] = fertility_rate['2014'].values
school_fertility

We do not have the expected length of schooling for quite a few contries;
these are the rows with `NaN` in the corresponding columns.  “NaN” stands
for Not a Number. We often call these *missing values*. They can also be
called “NA” for “Not Applicable”.  There are some missing values for the
fertility statistic too.  For simplicity, we drop rows that have missing
values in either of these two columns:

In [ ]:
# Drop the rows with any missing (NaN) values
school_fertility = school_fertility.dropna()
school_fertility

Now we have the data we think we want, we do a quick check for odd values by
doing a histogram of each column:

In [ ]:
%matplotlib inline

In [ ]:
# Import the plotting library with a memorable name
import matplotlib.pyplot as plt

In [ ]:
# Histogram of the school length
plt.hist(school_fertility['school']);

In [ ]:
# Histogram of the fertility rate
plt.hist(school_fertility['fertility']);

Now to the part we are interested in.  We speculate that countries that don’t
keep their women in school for long, may have higher adolescent fertility
rates.  We plot length of schooling on the X axis and fertility rates on the Y
axis:

In [ ]:
# Scatterplot of school length against fertility rate
plt.scatter(school_fertility['school'], school_fertility['fertility'])

Last, we save the data frame we made to a file, so we can use these values
again.  When saving, we drop off the first implicit column, with the case
numbers:

In [ ]:
school_fertility.to_csv('school_fertility.csv', index=False)